<%- include("./partials/header") %>
    <div class="container">


        <h2 class="jumbotron">All Files Uploaded</h2>
        <div class="list-group d-flex justify-content-between ">
            <% files.forEach(function(file){ %>
                <li class="list-group-item list-group-item-info">
                    <%= file.name %>
                        <span class="badge" style="margin-left: 80%;">
                    <form action="/feed/<%=file._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <!-- <span class="material-icons">
                    picture_as_pdf
                    </span> -->
                        </span>
                </li>




        </div>
        <% }) %>
    </div>
    </div>
    <%- include("./partials/footer") %>