<%- include("./partials/header") %>

    <div class="list-group list-group-item-action flex-column align-items-start">
        <% files.forEach(function(file){ %>
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                    <%= file.name %>
                </h5>
                <small>3 days ago</small>
            </div>
    </div>
    <%- include("./partials/footer") %>