<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% allQuiz.forEach(function(quiz) { %>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        <%= quiz.name %>
                    </h5>
                    <small><%= quiz.createdAt %></small>
                </div>
                <p class="mb-1">
                    <%= quiz.slot %>
                </p>
            </a>
        </div>
        <% } %>
</body>

</html>