<%- include("./partials/header") %>
    <div class="container">
        <h1 class="jumbotron d-flex justify-content-center">Create Quiz</h1>


        <form action="/quiz" method="POST">
            <div class="form-group">
                <label for="quiz-name">Add name for quiz</label>
                <input type="text" class="form-control" name="name" id="quiz-name">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Enter Quiz Description</label>
                <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Slect Slot/type of Quiz</label>
                <select class="form-control" id="exampleFormControlSelect1" name="slot">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                </select>
            </div>
            <div class="form-group">
                <label for="rewardColumn">Add the reward amount for this quiz</label>
                <input type="text" id="rewardColumn" class="form-control" name="reward">
            </div>
            <div class="form-group">
                <label for="rewardColumn">Add marks to be awarded for each correct answer</label>
                <input type="text" id="rewardColumn" class="form-control" name="correct_score">
            </div>
            <div class="form-group">
                <label for="rewardColumn">Add marks to be deducted for each wrong answer</label>
                <input type="text" id="rewardColumn" class="form-control" name="incorrect_score">
            </div>
            <div class="form-group">
                <label for="date">Enter creation date for quiz: </label>
                <input type="date" name="date" id="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="start">Start Time for Quiz:</label>
                <input type="time" id="start" name="start">
            </div>
            <div class="form-group">
                <label for="end">End Time for Quiz:</label>
                <input type="time" id="end" name="end">

            </div>
            <div class="form-group">
                <label for="minutes">Enter minutes to be alloted to the user: </label>
                <input type="number" name="minutes" id="minutes">
            </div>
            <div class="form-group">
                <label for="minutes">Enter seconds to be alloted to the user</label>
                <input type="number" name="seconds" id="seconds">
            </div>
            <div class="form-group"><button class="btn btn-primary">Create</button>
            </div>



        </form>
    </div>
    <%- include("./partials/footer") %>